{% extends 'main.html' %}

{% block title %}Volunteers{% endblock %}
{% block content %}

<!-- Bootstrap Core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/bootstrap/css/stylish-portfolio.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Volunteer X</h1>
        <h3>People Helping People</h3>
        <br>
        <a href="/volunteers/new" class="btn btn-dark btn-lg">I'm a Volunteer</a>
        <a href="/volunteers" class="btn btn-dark btn-lg">I'm an NGO</a>
    </div>
</header>
{% endblock %}
